.move_left_right-enter-active {
	transition: opacity 0.2s ease-in,
		transform 0.5s cubic-bezier(0.6, 1.6, 0.6, 1);
}
.move_left_right-leave-active {
	transition: opacity 0.3s ease-out 0.5s,
		transform 0.8s cubic-bezier(0.33, 0.03, 0.42, -0.37);
}
.move_left_right-enter {
	opacity: 0;
	transform: translateX(-100px);
}
.move_left_right-leave-to {
	opacity: 0;
	transform: translateX(100px);
}
.move_left_right-enter-to,
.move_left_right-leave {
	opacity: 1;
	transform: translateX(0);
}
